{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <section class="articles">

        <article>
            <h2>titre de l'article</h2>
            <div class="metadata">Ecris le 13/11/2018 à 11h55 dans la catégorie tricks</div>
        </article>
               <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolores et, excepturi qui recusandae
                voluptate.</p><a href="" class="btn btn-primary">Lire la suite</a></div>
    </section>

{% endblock %}
