{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">écrit le 238/11/2018 à 10h00 dans la catégorie Tricks</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta fugiat impedit, laboriosam pariatur
                repudiandae rerum.</p>
            <p>Illum obcaecati provident repudiandae? Aliquid distinctio dolorem explicabo possimus quis reiciendis
                temporibus? Commodi necessitatibus, suscipit?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eius eum explicabo, id modi praesentium qui
                ullam voluptas? Accusantium ad, commodi ex natus obcaecati quis quisquam repellat. Commodi culpa
                distinctio dolore ducimus eius in odio, perferendis quasi quidem quo, quos voluptatem? Amet architecto
                aspernatur consectetur earum incidunt ipsum nostrum quod.</p>
            <p>Accusamus accusantium autem eligendi excepturi explicabo facilis fugiat inventore ipsa ipsum iusto
                laboriosam minima neque perspiciatis possimus, quaerat qui ratione recusandae reprehenderit rerum
                sapiente ullam vero voluptas, voluptatem. Eius unde, voluptatum. Ad blanditiis consequatur cum cumque
                eos, et exercitationem impedit, molestias nobis nostrum officiis pariatur reprehenderit sint sit tempora
                voluptates!</p>
            <section>
    </article>
{% endblock %}